.list {
  width: 500px;
  text-align: center;
  list-style: none;
}

.listItem {
  margin-bottom: 20px;
}

.listItemText {
  margin-right: 10px;
}

.button {
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
}

.button:hover,
.button:focus {
  background-color: red;
}
